body.contact {
    background: rgb(36,36,36);
}
/* Change the logo color */
body.contact #logo.normal {
    color: rgb(36,36,36);
}
.page__contact {
    display: grid;
    max-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: -webkit-fill-available;
    color: rgb(255,255,255);
    background: rgb(36,36,36);
    padding: 0;
    margin: 0;
}
.page__contact .left {
    grid-area: 1 / 1 / 2 / 2;
    order: 0;
    height: 100%;
    background: url('../assets/img/contactpage.jpg') 0 0 no-repeat;
    background-size: cover;
}
.page__contact .right {
    grid-area: 1 / 2 / 2 / 3;
    padding: 30vh 0 0 10rem;
    height: 70vh;
}
.page__contact .right h3 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0 0 4rem 0;
}
.page__contact .right h4 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
    margin: 0;
    padding: 0 0 4rem 0;
}
.page__contact .right table {
    width: 300px;
}
.page__contact .right table td {
    padding: 10px 0;
}
.page__contact .right table td a {
    color: rgba(126,126,126,1);
    text-decoration: none;
}
.page__contact .right table td a:hover {
    color: rgba(226,226,226,1);
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 640px)
  and (orientation: portrait) {
    body.contact header {
        position: relative;
    }
    body.contact main {
        position: absolute;
        top: 200px;
        left: 0px;
    }
    header #logo {
        padding-left: 1rem;
        padding-top: 0.6rem;
        transform: translateY(-15px);
    }
    body.contact header #logo.invert {
        color: rgb(255,255,255);
    }
    header #logo .desktop {
        display: none;
    }
    header nav {
        padding-right: 0.5rem;
    }
    header ul li a {
        font-size: 0.6rem;
        padding: 0 0.05rem;
    }
    .page__contact .left {
        display: none;
    }
    .page__contact .right {
        padding: 0 10px 0 40px;
        grid-area: 1 / 1 / 2 / 3;
    }
}
