.page__contact {
    background: rgb(36,36,36);
    height: 100vh;
}
footer {
    background: rgb(36,36,36); 
}
body.contact footer #logo,
body.contact footer h3,
body.contact footer table td a,
body.contact footer .footer div {
    color: rgb(236,236,236);
}
body.contact footer table td a:hover {
    color: rgb(255,255,255);
}
