footer {
    display: grid;
    grid-template-columns: repeat(2, span);
    grid-template-rows: repeat(2, span);
    width: -webkit-fill-available;
    background: #d2d2d2;
    padding: 3rem 5rem;
    margin: 0;
}

footer .left {
    grid-area: 1 / 1 / 2 / 2;
    order: 0;
    padding: 5rem 0 5rem 10rem;
}

footer #logo {
    margin: 0;
    padding: 0;
    top: 0;
}
footer .footer {
    grid-area: 2 / 1 / 3 / 2;
    order: 0;
}
footer .footer .allrights {
    padding-left: 0;
    width: 50%;
    padding: 6.8rem 0 5rem 10.1rem;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 150%;
    color: #838383;
}

footer .right {
    grid-area: 1 / 2 / 3 / 3;
    padding: 5rem 0;
}

footer .right h3 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    padding: 0 0 4rem 0;
}

footer .right table {
    width: 300px;
}

footer .right table td {
    padding: 10px 0;
}

footer .right table td a {
    color: rgba(46,46,46,1);
    font-size: 15px;
    text-decoration: none;
}

footer .right table td a:hover {
    color: rgba(26,26,26,1);
}

@media only screen 
  and (min-width: 375px) 
  and (max-width: 960px) 
  and (orientation: portrait) {
    footer {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        padding: 0 0 0 2.5rem;
    }
    footer .left {
        padding: 4rem 0.8rem;
    }
    footer .right {
        padding: 0 0.8rem;
        height: 320px;
        width: 100%;
    }
    footer .footer {
        padding: 1rem 0.8rem;
    }
    footer .footer .allrights {
        padding: 1rem 0;
        width: 100%;
    }
}
@media only screen 
  and (min-width: 800px) 
  and (max-width: 960px) {
    footer {
        padding: 0;
    }
}