.page__part__one {
    display: grid;
    width: -webkit-fill-available;
    height: 110vh;
    position: relative;
    top: auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 'left middle right';
}
.page__part__two {
    display: grid;
    width: -webkit-fill-available;
    height: 100vh;
    padding-top: 20vh;
    position: relative;
    top: auto;
    z-index: 1;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    'header' 
    'left middle right'
    'footer';
}
.page__part__three {
    width: -webkit-fill-available;
    height: 100%;
    padding-bottom: 8rem;
}
/* Page One Styles */
.page__part__one {
    background-color: rgb(26,26,26);
    overflow: hidden;
    text-align: center;
    position: relative;
}
/* Set up TweenMax gsap */
.page__part__one section .tween__title {
    position: relative;
}
.page__part__one section .tween {
    opacity: 0;
}
.holder {
    width: 100%;
    height: 110vh;
    position: absolute;
    overflow: hidden;
}
.background__wrapper {
    background-color: rgba(210,210,210,0.5);
    background-image: url('../assets/img/jake-melara-8YuGb6rZ2no-unsplash.jpg');
    background-blend-mode: saturation;
    background-position-x: center;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.scroll__down {
    position: absolute;
    right: 60px;
    bottom: 120px;
    height: auto;
    font-size: 16px;
    width: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;
    display: inline-flex;
    padding-bottom: 0px;
    color: rgba(255,255,255);
}
.scrollD__arrow {
    width: 24px !important;
    height: 24px;
    padding-left: 25px;
    padding-bottom: 25px;
    display: -webkit-inline-flex;
    position: absolute;
    bottom: -25px;
    background: url('../assets/svg/scroll__arrow.svg') center center no-repeat;
}
.scrollD__text {
    transform: rotate(-90deg);
    width: 25px;
    padding: 25px 0 25px 25px;
    vertical-align: -webkit-baseline-middle;
    display: -webkit-inline-flex;
    font-size: 14px;
}
.page__part__one .middle h1 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    color: rgba(255,255,255,1);
    font-size: 6vw;
    letter-spacing: -0.02vw;
    font-weight: 500;
    padding: 20px 0px 30px 0px;
    margin: 0;
    /*transform: translate(-100px, 0px);*/
    top: 0;
    display: block;
    user-select: none;
}
.page__part__one .middle .border {
    width: 4rem;
    height: 6px;
    background-color: white;
    display: inline-block;
    transform: translate(0, 10px);
    margin-bottom: 30px;
}
.page__part__one .middle h2 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    color: rgba(255,255,255,1);
    font-size: 6vw;
    letter-spacing: -0.02vw;
    font-weight: 500;
    padding: 0px;
    margin: 0;
    /*transform: translate(-100px, 0px);*/
    top: 0;
    display: block;
    user-select: none;
}
.page__part__one .middle h4 {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    color: rgba(255,255,255,1);
    font-size: 1rem;
    letter-spacing: -0.02rem;
    font-weight: 400;
    padding: 30px 0 0 0;
    margin: 0;
    transform: translate(8px, 20px);
    top: 0;
    display: block;
    user-select: none;
}
.page__part__one .middle .center {
    text-align: left;
    position: relative;
    transform: translate(20px, 143px);
    z-index: 5;
    transition: opacity 0.4s ease;
}
.page__part__one .left {
    width: 100%;
    background-color: rgba(0,0,0,1);
}
aside.right {
    grid-area: 'right';
    z-index: 1;
    width: 100%;
    opacity: 0;
    transform: translate(0px, 0px);
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
/* Page Two Styles */
.page__part__two .middle .header,
.page__part__two .middle,
.page__part__two .middle .footer {
    position: relative;
    background: #ffffff;
}
.page__part__two .middle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas: 'left right';
}
.page__part__two .middle__header,
.page__part__two .middle__footer {
    width: 100%;
}
.page__part__two .left {
    /* left column styles */
    height: 100%;
    display: flex;
    vertical-align: middle;
}
.end__process {
    width: 25vw;
    height: 100%;
    display: flex;
    vertical-align: middle;
    background: url('../assets/svg/end_solution.svg') right center no-repeat;
    background-size: contain;
}
.circle__process {
    width: 25vw;
    height: 100%;
    display: flex;
    vertical-align: middle;
    background: url('../assets/svg/circle_solutions.svg') center center no-repeat;
    background-size: 60%;
}

.page__part__two .process-tween {
    opacity: 0;
}

.page__part__two .right {
    /* right column styles */
    background: #ffffff;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    'a' 
    'b'
    'c';
    grid-template-columns: repeat(1,1fr);
    align-content: stretch;
}

.page__part__two .right .content {
    display: block;
    margin: auto 0;
    padding-right: 15vw;
    padding-left: 10vw;
    user-select: none;
}
/* right column typography */
.page__part__two .right .content h3 {
    font-family: 'WhyteTrail-Bold', 'Work Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1rem 0;
    letter-spacing: -0.12rem;
    color: rgb(23,23,23);
}
.page__part__two .right .content p {
    font-family: 'WhyteTrail-Book', 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 180%;
    padding: 1rem 0;
    letter-spacing: -0.02rem;
    color: rgb(23,23,23);
}
.page__part__two .right .content a.read__more {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: rgb(23,23,23);
}
/* Page Three Styles */
.page__part__three {
    background-color: rgb(28,28,28);
    color: rgba(255,255,255,1);
    position: relative;
}
.page__part__three h4 {
    position: absolute;
    top: 150px;
    left: 180px;
    font-size: 0.895rem;
    text-transform: uppercase;
    font-weight: 100;
}
.page__part__three h4 span {
    transform: rotate(71deg);
    position: absolute;
}
.page__part__three .works__grid {
    position: relative;
    top: 240px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    grid-template-areas: 'a b c d e';
}
.works__grid .work__template {
    height: 660px;
    transform: translate(0px, 30px);
    overflow: hidden;
}
.works__grid .work__template h2 {
    font-family: 'WhyteTrail-Book', 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 400%;
}
.works__grid a.display {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 470px;
    cursor: pointer;
}
.work__template {
    opacity: 0.5;
    transition: 0.3s all ease-in-out;
}
.work__template:hover {
    opacity: 1;
}
.works__grid .work_01 .display__bg {
    background: url('../assets/img/work-artist.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.works__grid .work_02 .display__bg {
    background: url('../assets/img/work-consultant.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;    
}
.works__grid .work_03 .display__bg {
    background: url('../assets/img/university-pane-asset.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;    
}
/* Tablet */
@media (min-width: 375px) and (max-width: 800px) {
    .page__part__one {
        grid-template-areas: 
        'a'
        'b'
        'c';
    }
    .page__part__three {
        height: auto;
        padding-bottom: 8rem;
    }
    .page__part__three .works__grid {
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e';
        width: 100%;
    }
    .page__part__three h4 {
        left: 30%;
    }
    .page__part__three .work__template {
        transform: translate();
        width: 320px;
        margin: 0 auto;
    }
    .page__part__three .works__grid .grid_gap { display: none; }
    .page__part__three .works__grid .display {
        margin: 0 auto;
        width: -webkit-fill-available;
        transform: translate();
    }
    .page__part__three .works__grid h2 {
        margin: 0 auto;
        transform: translate();
        width: -webkit-fill-available;
    }
    .page__part__one .middle .center {
        transform: translateY(242.029px);
        margin-top: -10rem;
    }
    .page__part__one .middle .center h1,
    .page__part__one .middle .center h2 {
        font-size: 3em;
        padding: 0 0.15em;
    }
    .page__part__one .middle .center div.border {
        transform: translate(100, 20);
        margin-bottom: 10px;
        margin-top: 25px;
    }
    .page__part__one .left {
        background-color: transparent;
        width: auto;
    }
    .scroll__down {
        bottom: 50px;
        margin-left: -10px;
    }
    .page__part__two .right .content {
        padding-right: 20%;
        padding-left: 40px;
    }
}
/* Larger than Mobile */
@media only screen 
  and (min-width: 641px) 
  and (max-width: 2000px) {
    header #logo .mobile {
        display: none;
    }
}
/* Mobile */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 640px)
  and (orientation: portrait) {
    .home main { padding-bottom: 0; }
    header #logo {
        transform: translate(0,-15px);
    }
    header #logo .desktop {
        display: none;
    }
    header nav {
        padding-right: 0.5rem;
    }
    header ul li a {
        font-size: 0.875rem;
        padding: 0 0.05rem;
    }
    .page__part__one {
        grid-template-areas: 
        'a'
        'b'
        'c';
    }
    .page__part__three {
        height: auto;
        padding: 0;
        margin: 0;
        padding-bottom: 8rem;
    }
    .page__part__three .works__grid {
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e';
        width: 100%;
    }
    .page__part__three .works__grid .work__template {
        height: 100%;
        vertical-align: top;
    }

    .page__part__three .works__grid .work__template:nth-child(4) {
        height: 660px;
    } 

    .page__part__three h4 {
        left: 27px;
        bottom: 0;
        margin: 0;
        border-collapse: collapse;
        height: 33px;
        line-height: 100%;
    }
    .page__part__three .work__template {
        transform: translate();
        width: 320px;
        margin: 0 auto;
    }
    .page__part__three .works__grid .grid_gap { display: none; height: 0; margin: 0; }
    .page__part__three .works__grid .display {
        margin: 0 auto;
        width: -webkit-fill-available;
        transform: translate();
    }
    .page__part__three .works__grid h2 {
        margin: 0 auto;
        transform: translate();
        width: -webkit-fill-available;
    }
    .page__part__one .middle .center {
        transform: translateY(242.029px);
        margin-top: -15rem;
    }
    .page__part__one .middle .center h1,
    .page__part__one .middle .center h2 {
        font-size: 3em;
        padding: 0 0.15em;
    }
    .page__part__one .middle .center div.border {
        transform: translate(100, 20);
        margin-bottom: 40px;
        margin-top: 25px;
        height: 2px;
    }
    .page__part__one .left {
        grid-area: 'left';
        width: auto;
    }
    .page__part__one .middle {
        grid-area: 'middle';
    }
    .page__part__one .right {
        grid-area: 'right';
        width: auto;
    }
    .scroll__down {
        right: auto;
        bottom: 110px;
        margin-left: -10px;
    }
    .scrollD__text {
        display: none;
    }
    .page__part__two {
        height: auto;
    }
    .page__part__two .middle__header,
    .page__part__two .middle__footer,
    .page__part__two .end__process {
        display: none;
    }
    .page__part__two,
    .page__part__two .middle {
        display: block;
    }
    .page__part__two .middle .left,
    .page__part__two .middle .right {
        display: block;
        height: 300px;
    }
    .circle__process {
        width: 100%;
        height: 100%;
        display: flex;
        vertical-align: middle;
        background: url('../assets/svg/circle_solutions_side.svg') center center no-repeat;
        background-size: 80%;
    }
}