.page--work {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    background: rgb(36,36,36);
    overflow-x: hidden;
}

.page--work .pane {
    position: relative;
    padding: 4.5rem;
    height: 798px;
}

.page--work h2.work--title {
    font-family: 'WhyteTrail-Medium', 'Work Sans', sans-serif;
    font-size: 8.5vw;
    padding: 4.5rem 0;
    letter-spacing: -0.12rem;
    color: rgb(255,255,255);
    position: absolute;
    z-index: 1;
    top: 200px;
}

.page--work h2.work--title > a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.page--work .work--pane {
    height: 475px;
    width: 720px;
    background-color: rgb(55,55,55);
    position: absolute;
    right: 100px;
    top: 150px;
    opacity: 0;
    transform: translateY(0px);
    transition: all .3s ease-in-out;
}

.page--work .work--letts {
    background: url('../assets/img/work_pane_letts.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
}

.page--work .work--moody {
    background: url('../assets/img/work_pane_moody.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
}

.page--work .work--atar {
    background: url('../assets/img/work_pane_atar.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
}