/* Update header colors */
body.work header #logo.normal {
    color: rgb(36,36,36);
}
body.work header ul li.normal,
body.work header ul li.normal a {
    color: rgb(36,36,36);
}
body.work header ul li.normal a span.line {
    background-color: rgb(36,36,36);
}

.page--work {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    background: #d2d2d2;
    overflow-x: hidden;
}

.page--work .pane {
    position: relative;
    padding: 4.5rem;
    height: 798px;
}

.page--work h2.work--title {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    font-size: 8.5vw;
    padding: 4.5rem 0;
    letter-spacing: -0.12rem;
    position: absolute;
    z-index: 1;
    top: 200px;
}

.page--work h2.work--title > a {
    text-decoration: none;
    color: rgb(255,255,255);
    text-shadow: 0 0 8px rgb(36,36,36,0.1);
}

.page--work .work--pane {
    height: 475px;
    width: 720px;
    background-color: rgb(255,255,253);
    position: absolute;
    right: 100px;
    top: 150px;
    opacity: 0;
    transform: translateY(0px);
    transition: all .3s ease-in-out;
}

.page--work .work--pane .work--pane--cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32,33,34);
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.w--pane--letts {
    background: url('../assets/img/work_piece_letts.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.w--pane--moody {
    background: url('../assets/img/work_pane_moody.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;    
}

.w--pane--atar {
    background: url('../assets/img/work_pane_atar.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;    
}

/* Work Backgrounds */

body.work--consultant .page__part__one {
    background-color: rgba(36,36,36,1);
}
body.work--consultant .background__wrapper {
    background-image: url('../assets/img/work_piece_letts.jpg');
    background-blend-mode: normal;
}
body.work--artist .page__part__one {
    background-color: rgba(36,36,36,1);
}
body.work--artist .background__wrapper {
    background-image: url('../assets/img/work-artist.jpg');
    background-blend-mode: normal;
}
body.work--university .page__part__one {
    background-color: rgba(36,36,36,1);
}
body.work--university .page__part__one .background__wrapper {
    background-image: url('../assets/img/work_pane_atar.jpg');
    background-blend-mode: normal;
}

/* Work Innerpage Typography */

.page__part__two h3 {
    font-family: 'WhyteTrail-Book', 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #969696;
    line-height: 100%;
    font-size: 17px;
    margin: 1rem 0 1rem 15px;
    padding: 0 30vw 0 30vw;
    height: 1rem;
}

.page__part__three h3 {
    font-family: 'WhyteTrail-Book', 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #f2f2f2;
    line-height: 100%;
    font-size: 17px;
    margin: 10rem 0 1rem 15px;
    padding: 0 30vw 0 20vw;
    height: 1rem;
}

.page__part__two h5 {
    font-family: 'WhyteTrail-Book', 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #969696;
    margin: 2rem 0 1rem 15px;
    padding: 0 30vw 0 30vw;
    font-size: 14px;
}

.page__part__two p {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    margin: 0 15px 0 15px;
    padding: 0 30vw 0 30vw;
    line-height: 150%;
    font-size: 150%;
    letter-spacing: -0.02vw;
}

.page__part__three p {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    margin: 0 15px 0 15px;
    padding: 0 30vw 0 20vw;
    line-height: 150%;
    font-size: 150%;
    letter-spacing: -0.02vw;
}

.page__part__two .project__details p {
    font-family: 'WhyteTrail-Light', 'Work Sans', sans-serif;
    color: rgb(36,36,36);
    margin: 2.3rem 15px;
    padding: 0 30vw 0 30vw;
    line-height: 150%;
    font-size: 13px;
    letter-spacing: -0.02vw;
}