.page__work {
    height: 480vh;
    padding-top: 5rem;
    background: rgb(36,36,36);
}

.page__work .piece {
    position: relative;
    padding: 4.5rem;
    height: 800px;
}

.page__work h2.work__title {
    font-family: 'WhyteTrail-Medium', 'Work Sans', sans-serif;
    font-size: 8.5vw;
    padding: 4.5rem 0;
    letter-spacing: -0.12rem;
    color: rgb(255,255,255);
    position: absolute;
    z-index: 1;
    height: 700px;
    top: 200px;
    /*transition: top .3s ease-in-out;*/
}

.page__work h2.work__title > a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.page__work .work__piece {
    height: 500px;
    width: 50vw;
    background-color: rgb(55,55,55);
    position: absolute;
    right: 100px;
    top: 150px;
    transform: translateY(0px);
}

.page__work .work__letts {
    background: url('../assets/img/work_piece_letts.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.page__work .work__moody {
    background: url('../assets/img/work_piece_moody.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.page__work .work__atar {
    background: url('../assets/img/work_piece_atar.jpg') center center no-repeat;
    background-size: cover;
    opacity: 0.5;
}